.cards {
    padding-top: 100px;

    &__wrap {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 400px);
        gap: 30px;
    }

    &__item {
        max-width: 270px;

        img {
            max-width: 100%;
            min-height: 230px;
            object-fit: cover;
        }
    }

    &__btn {
        width: 20%;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

swiper-container {
    margin-top: 40px;
}