.company {
    &__about {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    &__subtitle {
        text-transform: uppercase;
    }

    &__item {
        color: $black-color;
    }

    &__black {
        font-weight: 600;
    }

    &__red {
        color: $back-color;
        font-size: 1.4em;
        font-weight: 500;
    }
}