.footer {
    background: #5A7678;
    padding: 85px;

    &__logo {
        &__link {
            display: block;
            width: 60%;

            img {
                display: block;
                width: 100%;
                object-fit: contain;

            }
        }

    }

    &--contact {
        .footer--link {
            color: $white-color;

            &.header__contacs__link--mail {
                &::before {

                    background: url("../icons/mail_red.svg") center/contain no-repeat;
                }
            }

            &:hover {
                color: darken($white-color, 11%);
            }


        }



    }

    &__phone {
        margin-top: 25px;
        display: flex;
        font-weight: 600;
        font-size: 1.07em;
        flex-direction: column;

        a {

            color: $white-color;
            text-decoration: none;
            transition: all .30s ease-in-out;

            &:hover {

                color: darken($white-color, 11%);
            }
        }

    }

    &__social {
        margin-top: 30px;
    }


    &__ter {
        max-width: 240px;
        margin-top: 15px;
        font-weight: 400;
        font-size: .9em;
        line-height: normal;
        color: $white-color;
    }

    &__nav {
        background: none;

        &__menu {
            list-style-type: none;

            &-link {
                font-weight: 500;
                font-size: 1.04em;
                line-height: normal;
                color: $white-color ;
                transition: all .30s ease-in-out;
                text-decoration: none;

                &:hover {
                    color: darken($white-color, 11%);

                }

            }

            &-item {
                margin-bottom: 10px;
            }
        }
    }

    &__menu {


        &-item {
            margin-bottom: 10px;
        }

        &-link {
            font-weight: 500;
            font-size: 1.04em;
            letter-spacing: 0.01em;
            transition: all .30s ease-in-out;
            color: $white-color;
            text-decoration: none;

            &:hover {
                color: darken($white-color, 11%);

            }
        }
    }

    &__work {
        &-title {
            display: inline-block;
            position: relative;
            padding-right: 2px;
            font-weight: 500;
            font-size: 1.04em;
            line-height: normal;
            color: $white-color;
            text-transform: uppercase;

            &.nav__menu__link--triangle {

                &::before {
                    border-top: none;
                    border-bottom: 9px solid $white-color;
                }

                &:hover {
                    &::before {
                        border-top: none;
                        border-bottom: 9px solid $white-color;
                    }
                }
            }
        }

        &-nav__menu {
            list-style-type: none;
            margin-left: 6px;

            &__link {
                font-weight: 400;
                font-size: .8em;
                line-height: normal;
                letter-spacing: 0.01em;
                color: $white-color;
                transition: all .30s ease-in-out;
                text-decoration: none;

                &:hover {
                    color: darken($white-color, 11%);

                }
            }
        }
    }

    &__copy {
        margin-top: 60px;
        display: flex;
        justify-content: center;

        p {
            font-weight: 400;
            font-size: 0.7em;
            line-height: normal;
            color: $white-color;

            &:first-child {
                margin-right: 60px;
            }
        }
    }
}