.header {
	font-size: 16px;

	&__logo {
		width: 79%;
			&__link {
					display: block;
					img {
							display: block;
							width: 100%;
							height: auto;
					}

			}
	}

	&__row {
			display: flex;
			align-items: center;
			justify-content:flex-start;
			padding: 25px 0;
	}
&--col-5{
flex: 1 0 calc(100%/5 - 20px);
width: calc(100%/5 - 20px);
&:not(:last-child){
margin-right: 20px;

}

}

	&__price {
			display: flex;

			align-items: center;
		

			img {
					display: block;
					width: 16%;
					height: auto;
			}

			p {
					font-family: $fontM;
					margin-left: 13px;
					font-weight: 400;
					font-size: 1em;
					line-height: normal ;
					color: $black-color;
			}
	}


	&__phones {		
		a {
				display: block;
					font-family: $fontM;
					text-decoration: none;
					font-style: normal;
					font-weight: 500;
					font-size: 1.10em;
					line-height: normal;
					color: $black-color;
			}
	}

	&__mobile {
			display: flex;
	}
}

.hamburger {
	display: none;
}

.mobile__menu {
	display: none;
}