.mobile__item {
	margin-bottom: 10px;
}

.btn_mobile {
	padding: 5px 0;
}

.mobile__menu {
	display: flex;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	top: 30px;
	opacity: 0;
	right: 0;
	transform: translateX(100%);
	width: 290px;
	height: 300px;
	padding: 27px;
	background-color: $white-color;
	transition: all .6s ease-in-out;
	z-index: -1;
	border-radius: 5px
}

.mobile_active {
	visibility: visible;
	opacity: 1;
	z-index: 2;
	transform: translateX(0);
}

@media (max-width: 1200px) {
	.button-container {
		display: block;
	}

	.header {

		&__row {
			flex-wrap: wrap;

		}

		&--col-5 {
			flex: 1 0 auto;
			width: auto;
		}

		&__logo {
			width: 10%;

		}

		&__price {
			font-size: 0.8em;

		}

		&__contacs__link {
			p {
				font-size: 0.8em;
			}
		}

		&__phones {
			a {
				font-size: 0.9em;
			}
		}
	}

	.form__phone_footer {
		margin-left: 0;
	}

	.form__wrap--footеr {
		margin-left: 0;
	}

	.form__title_footer {
		font-size: 1em;
	}

	.build__ml {
		margin-left: 10px;
	}

	.btn {
		font-size: 0.9em;
	}

	.form_build .btn_submit {
		margin-right: 9px;
		padding: 9px 12px 9px 18px;
	}

	.form_build .btn_phone {
		padding: 8px 10px 9px 10px;
	}


	////////// Catalog

	.catalog {
		padding-top: 20px;

		&__hidden {
			display: none;
		}

		&__title {
			font-size: 1.7em;

			&_prod {
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}

		&__card {
			margin-bottom: 20px;

			&_price {
				margin-bottom: 20px;
			}
		}

		&__option {
			padding: 12px;
		}

		&__char {
			font-size: 1em;
		}

		&__value {
			font-size: 1em;
			margin-left: 80px;
		}

		&__text {
			font-size: 1.2em;
		}

		&__link {
			font-size: 1em;
		}

		&__nav {
			margin-bottom: 20px;

			ul {
				li {
					&:first-child {
						margin-left: 22px;
					}
				}

				li+li::before {
					content: '/';
					padding: 0 4px;
					color: $black-color;
				}
			}
		}

		&__img {
			max-width: 450px;
		}

		&__price {
			margin-top: 61px;
		}

		&__item {
			&_main {
				padding: 0;

				&:not(:last-child) {
					margin-right: 4px;
				}

				a {
					font-size: 0.8em;
				}
			}
		}

		&__list {
			&_mobile {
				display: flex;
			}
		}
	}

	.build__hidden {
		display: none;
	}

	.lg__hidden {
		display: block;
	}

	.build_catalog {
		padding-top: 30px;
	}


	.card__col {
		width: 100%;
	}

	////// Contacts
	.contacts {
		padding-top: 40px;

		&__title {
			margin-bottom: 20px;
		}

		&__card {
			iframe {
				height: 400px;
			}
		}

		&__item {
			padding-bottom: 40px;
		}
	}

	////// Company

	.about__hidden {
		display: none;
	}

	.company {
		&__col {
			width: 100%;
		}

		&__about {
			padding-top: 0;
		}
	}

	.lg__hidden {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
	}


	//// Cards 
	.cards {
		&__wrap {
			gap: 20px;
		}

		&__item {
			max-width: 220px;
			min-height: 200px;
		}
	}

	/////// Menu
	.accordion {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		&-item {
			width: 200px;
			margin-right: 10px;
		}

		&-button {
			padding: 0;
			height: 35px;
			font-size: 0.8rem;
			position: relative;
		}

		&-body {
			// position: relative;
		}
	}

	.catalog__list_hide {
		position: absolute;
	}


}



///////////////////////////
///////////////////////////
///////////////////////////
///////////////////////////

@media (max-width: 1055px) {
	.header {

		&__logo {
			width: 15%;

		}

		&__price {
			font-size: 0.8em;
			width: 12%;

		}

	}

	.build__hidden {
		display: none;
	}

}


@media (max-width: 999px) {
	//.build__tabs {
	//		width: 72%;
	//		margin: 20px auto 0 auto;
	//}


	//.build__tab {
	//		font-size: 0.8em;
	//}

	.form_build input {
		width: 26%;
	}

	.build__text {
		text-align: center;
		margin-bottom: 28px;
	}

	.find {
		font-size: 14px;
	}

	.footer__hidden {
		display: none;
	}

	.lg__hidden {
		display: block;
	}

	.main-txt {
		&__title {
			text-align: center;
		}

		&__descr {
			text-align: center;
		}
	}


	.footer {
		&__logo {
			margin-bottom: 20px;

			a {
				width: 28%;
				margin: 0 auto;
			}

			&__link {
				width: 40%;
			}


		}

		&__phone {
			margin: 0;
			font-size: 1em;
		}

		&__ter {
			margin: 0;

		}

		&__work-nav__menu {
			margin-left: 0;

			&__item {
				line-height: 20px;
				font-size: 1.1em;
			}
		}
	}

	.footer__social {

		margin: 0;
	}

	.footer__ter {
		margin: 0;
	}

	.build {

		font-size: 14px;
	}

	.form__title_footer {
		text-align: center;
	}

	.about__hidden {
		display: none;
	}

	.lg__hidden {
		width: 100%;
	}

	.build__hidden {
		display: none;
	}

	////////////catalog

	.catalog {
		padding-top: 20px;

		&__hidden {
			display: none;
		}

		&__title {
			font-size: 1.7em;

			&_prod {
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}

		&__card {
			margin-bottom: 20px;

			&_price {
				margin-bottom: 20px;
			}
		}

		&__option {
			padding: 12px;
		}

		&__char {
			font-size: 1em;
		}

		&__value {
			font-size: 1em;
			margin-left: 80px;
		}

		&__text {
			font-size: 1.2em;
		}

		&__link {
			font-size: 0.8em;
		}

		&__nav {
			margin-bottom: 20px;

			ul {
				li {
					&:first-child {
						margin-left: 22px;
					}
				}

				li+li::before {
					content: '/';
					padding: 0 4px;
					color: $black-color;
				}
			}
		}

		&__img {
			max-width: 420px;
		}

		&__price {
			margin-top: 107px;
		}

		&__item {
			&_main {
				padding: 0;

				&:not(:last-child) {
					margin-right: 4px;
				}

				a {
					font-size: 0.55em;
				}
			}
		}

		&__list {
			&_mobile {
				display: flex;
			}
		}
	}

	.build_catalog {
		padding-top: 30px;
	}


	//// angar
	.catalog__angar_prints--item {
		width: 120px;

		p {
			font-size: 0.9em;
		}
	}

	////// Contacts
	.contacts {
		padding-top: 40px;

		&__title {
			margin-bottom: 20px;
		}

		&__card {
			iframe {
				height: 360px;
			}
		}

		&__item {
			padding-bottom: 40px;
		}
	}

	.cards {
		&__wrap {
			gap: 20px;
		}

		&__item {
			max-width: 170px;
			min-height: 260px;
		}
	}
}

@media (max-width: 871px) {
	.build {
		font-size: 13px;
	}

	.find,
	.about {
		font-size: 13px;
	}

	.btn {
		&_header {
			display: block;
			width: 100%;
		}

	}

	.about {
		&__descr {
			font-size: 1em;
			line-height: normal;

		}
	}

	//// angar
	.catalog__angar_prints--item {
		width: 110px;

		p {
			font-size: 0.8em;
		}
	}

	////// Contacts
	.contacts {
		padding-top: 40px;

		&__title {
			margin-bottom: 20px;
		}

		&__card {
			iframe {
				height: 340px;
			}
		}

		&__item {
			padding-bottom: 40px;
		}
	}
}

@media (max-width: 863px) {

	.header {
		&__price {
			width: unset;

		}
	}
}

@media (max-width: 856px) {

	.btn {
		&_header {
			display: block;
			width: 30%;
			margin: 10px auto 0 auto;
		}

	}

}



@media (max-width: 768px) {

	.header {
		&__row {
			padding: 25px 20px;
		}
	}

	.btn {
		&_header {
			display: block;
			width: 100%;
			margin: 0;
		}

	}

	.find,
	.about {
		font-size: 12px;
	}

	.menu {
		visibility: visible;
		z-index: 1;
		transform: translateY(0);
	}


	//.build__tabs>.build__tab:first-child {


	//		border-radius: 5px;
	//}

	//.build__tab {
	//		border: 1px solid $accent;
	//		border-radius: 5px;

	//		&:not(:last-child) {
	//				margin-bottom: 5px;
	//				border-radius: 5px;
	//				border-right: 1px solid $accent;
	//				margin-right: 5px;
	//		}
	//}

	.build {
		font-size: 12px;

		&__text {

			margin-bottom: 10px;
		}

		//&__tabs {
		//		width: 100%;
		//		flex-wrap: wrap;
		//}

		&__item {
			flex-wrap: wrap;
			margin-top: 10px;

			&-lists {
				display: block;
				margin-top: 10px;
			}

			&-list {
				text-align: center;
				margin: 0;
			}
		}

		&__hidden {
			display: none;
		}

		&__ml {
			margin-left: 0;
		}
	}


	.header__phones {
		margin: 0;
	}

	.btn {
		&_header {
			margin: 0;
			display: block;
			width: 100%;
		}

	}

	.header__logo__link {

		width: 160px;
	}

	.header__hidden {
		display: none;
	}


	.header__row {
		position: relative;
	}

	.hero {
		font-size: 15px;
		min-height: 100%;

		&__wrapper {
			padding: 30px 20px;
			text-align: center;
		}

		&__item {
			font-size: 1.1em;
		}

		&__title {
			line-height: normal;
			font-size: 2em;
		}

		&__subtitle {
			font-size: 1.1em;
		}
	}

	.form input {
		width: 100%;
		padding: 4px;
		margin-bottom: 12px;
		margin-right: 0;
	}

	.form {
		&__title {
			font-size: 1.5em;
		}

		&__phone {
			&_footer {
				text-align: center;
			}

			text-align: left;
		}
	}

	.btn_submit {
		flex: 1;
		padding: 4px 8px;
		margin-right: 5px;
	}

	.btn_phone {
		flex: 1;
		padding: 4px;
	}

	.btn_find {
		width: 100%;
	}

	.btn_footer {
		margin-bottom: 20px;
		margin-right: 0;
		width: 100%;
	}

	.form__wrap--footеr input {
		margin-bottom: 20px;
	}


	.form_build .btn_submit {
		flex: 1;
		padding: 4px 4px;
		margin-right: 5px;
	}

	.form_build .btn_phone {
		flex: 1;
		padding: 4px;
	}

	.form_build input {
		padding: 6px;
	}

	.find {
		padding: 30px 0;
	}

	.find .form__wrap {
		flex-direction: column;
	}

	.main-txt {
		&__title {
			text-align: center;
		}

		&__descr {
			text-align: center;
		}
	}

	.about {
		&__descr {
			font-size: 1.2em;
			line-height: normal;
			margin-bottom: 15px;
		}

		&__img {
			width: 100%;
		}

		&__hidden {
			display: none;
		}

		&__feat {
			padding: 15px;
		}

		&__feat-item {
			&__title {
				font-size: 1em;
			}

			img {
				max-width: 40px;
			}
		}

		&__wrapper {
			margin-left: 15px;
		}
	}

	.advantage {
		&__item {
			margin-bottom: 20px;

			img {
				max-width: 40px;
			}

			&-title {
				font-size: 1.4em;
			}

			&-descr {
				font-size: 0.9em;
			}
		}
	}

	.main-txt {
		&__title {
			font-size: 1.7em;
		}
	}

	.footer {
		padding: 40px;

		&__logo {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;

			a {
				margin: 0 auto;
			}

			&__link {
				width: 50%;
			}
		}

		&__hidden {
			display: none;
		}


		&__work-title {
			margin-bottom: 0;
			font-size: 1.1em;
		}

		&__work-nav__menu {
			margin-left: 0;

			&__item {
				line-height: 20px;
				font-size: 1.1em;
			}
		}

		&__copy {
			flex-direction: column;
			align-items: center;
			margin-top: 40px;

			p {
				font-size: 1em;
			}
		}
	}

	.form__title_footer {
		text-align: center;
	}

	.footer__copy p:first-child {
		margin-right: 0;
	}

	.lg__hidden {
		display: block;
	}

	///////  Catalog

	.catalog {
		padding-top: 20px;

		&__hidden {
			display: none;
		}

		&__title {
			font-size: 1.7em;

			&_prod {
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}

		&__card {
			margin-bottom: 20px;

			&_price {
				margin-bottom: 20px;
			}
		}

		&__option {
			padding: 12px;
		}

		&__char {
			font-size: 1em;
		}

		&__value {
			font-size: 1em;
			margin-left: 80px;
		}

		&__text {
			font-size: 1.2em;
		}

		&__link {
			font-size: 0.8em;
		}

		&__nav {
			margin-bottom: 20px;

			ul {
				li {
					&:first-child {
						margin-left: 22px;
					}
				}

				li+li::before {
					content: '/';
					padding: 0 4px;
					color: $black-color;
				}
			}
		}

		&__img {
			max-width: 400px;
		}

		&__price {
			margin-top: 107px;
		}

		&__item {
			&_main {
				padding: 0;

				&:not(:last-child) {
					margin-right: 4px;
				}

				a {
					font-size: 0.55em;
				}
			}
		}

		&__list {
			&_mobile {
				display: flex;
			}
		}
	}

	.build_catalog {
		padding-top: 30px;
	}

	// .build__tabs>.build__tab:last-child {
	// 	border-radius: 5px;
	// }

	//// angar
	.catalog__angar_prints--item {
		width: 80px;

		p {
			font-size: 0.8em;
		}
	}

	////// Contacts
	.contacts {
		padding-top: 40px;

		&__title {
			margin-bottom: 20px;
		}

		&__card {
			iframe {
				height: 240px;
			}
		}

		&__item {
			padding-bottom: 40px;
		}

		&__wrap {
			align-items: center;
		}

		&__form_wrap {
			width: 80%;

			button {
				margin-top: 20px;
			}

			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}

	//// Cards
	.cards {
		padding-top: 40px;

		&__wrap {
			gap: 10px;
		}

		&__item {
			max-width: 22%;
			min-height: 240px;

			p {
				font-size: 0.9em;
			}
		}
	}

	.phototech {
		padding-top: 40px;

		&__items {
			margin-top: 40px;
		}
	}
}

///////////////// 
////////////////

@media (max-width: 576px) {
	.header__hidden {
		display: none;
	}

	.header__logo__link img {
		width: 60%;
	}

	.header__row {
		position: relative;
	}

	.hero {
		font-size: 14px;

		&__wrapper {
			padding: 30px 20px;
			text-align: center;
		}

		&__item {
			font-size: 1em;
		}

		&__title {
			font-size: 2em;
		}

		&__subtitle {
			font-size: 1.1em;
		}
	}

	.form input {
		width: 100%;
		padding: 4px;
		margin-bottom: 12px;
		margin-right: 0;
	}

	.form {
		font-size: 14px;

		&__title {
			font-size: 1.5em;
		}

		&__phone {
			text-align: left;
		}
	}

	.btn_submit {
		flex: 1;
		padding: 4px 8px;
		margin-right: 5px;
	}

	.btn_phone {
		flex: 1;
		padding: 4px;
	}

	.btn_find {
		width: 100%;
	}

	.btn_footer {
		margin-bottom: 20px;
		margin-right: 0;
		width: 100%;
	}

	.form__wrap--footеr input {
		margin-bottom: 20px;
	}

	.build {
		//			&__tabs {				flex-wrap: wrap;
		//			}

		&__item {
			//		flex-wrap: wrap;

			&-lists {
				grid-template-columns: repeat(1, 1fr);
			}

			&-list {
				margin: 0;
			}
		}

		&__hidden {
			display: none;
		}

		&__ml {
			margin-left: 0;
		}
	}

	.form_build .btn_submit {
		flex: 1;
		padding: 4px 4px;
		margin-right: 5px;
	}

	.form_build .btn_phone {
		flex: 1;
		padding: 4px;
	}

	.form_build input {
		padding: 6px;
	}

	.find {
		padding: 30px 0;
	}

	.find .form__wrap {
		flex-direction: column;
	}

	.main-txt {
		&__title {
			text-align: center;
		}

		&__descr {
			text-align: center;
		}
	}

	.about {
		&__descr {
			margin-bottom: 15px;
		}

		&__img {
			width: 100%;
		}

		&__hidden {
			display: none;
		}

		&__feat {
			padding: 15px;
		}

		&__feat-item {
			&__title {
				font-size: 1em;
			}

			img {
				max-width: 40px;
			}
		}

		&__wrapper {
			margin-left: 15px;
		}
	}

	.advantage {
		&__item {
			margin-bottom: 20px;

			img {
				max-width: 40px;
			}

			&-title {
				font-size: 1.4em;
			}

			&-descr {
				font-size: 0.9em;
			}
		}
	}

	.main-txt {
		&__title {
			font-size: 1.7em;
		}
	}

	.footer {
		padding: 20px;

		&__logo {
			display: flex;
			justify-content: center;
			margin-bottom: 30px;

			&__link {
				width: 80%;
			}
		}

		&__hidden {
			display: none;
		}

		&__nav__menu {
			&-item {
				margin-bottom: 5px;
			}

			&-link {
				font-size: 0.9em;
			}
		}

		&__work-title {
			margin-bottom: 0;
			font-size: 0.9em;
		}

		&__work-nav__menu {
			margin-left: 0;

			&__item {
				line-height: 14px;
			}
		}



		&__copy {
			flex-direction: column;
			align-items: center;
			margin-top: 40px;

			p {
				font-size: 1em;
			}
		}
	}

	.form__title_footer {
		text-align: center;
	}

	.footer__copy p:first-child {
		margin-right: 0;
	}

	.lg__hidden {
		display: block;
	}

	////// Contacts
	.contacts {
		padding-top: 40px;

		&__title {
			margin-bottom: 20px;
		}

		&__card {
			iframe {
				height: 200px;
			}
		}

		&__item {
			padding-bottom: 40px;
		}
	}

	//// Cards
	.cards {
		&__wrap {
			gap: 5px;
			flex-direction: column;
			align-items: center;
		}

		&__item {
			max-width: 100%;
			min-height: 250px;
		}
	}

	.phototech {
		padding-top: 30px;

		&__items {
			margin-top: 30px;
		}
	}
}

@media (max-width:386px) {
	// .build {

	// 	&__tab {
	// 		width: 100%;

	// 		&:not(:last-child) {
	// 			margin-right: 0;
	// 		}

	// 	}

	// 	&__tabs {
	// 		width: 100%;
	// 		flex-direction: column;
	// 	}
	// }

	// .build__item-spec {
	// 	&:not(:last-child) {
	// 		margin-bottom: 10px;
	// 	}
	// }


}

@media (max-width:366px) {
	.form__wrap {

		.btn_phone {
			flex: 1 0 100%;
			width: 100%;
		}

		.btn_submit {
			flex: 1 0 100%;
			margin-bottom: 10px;
			width: 100%;
			margin-right: 0;

		}
	}
}

@media (max-width:374px) {
	.form {
		font-size: 11px;
	}

	.hero__title {
		font-size: 5.4vw;
		line-height: normal;
		margin-bottom: 16px;
	}

	.lg__hidden {
		display: block;
	}

	.nav__menu__link {
		font-size: 0.6em;
	}

	.catalog {
		padding-top: 20px;

		&__hidden {
			display: none;
		}

		&__title {
			font-size: 1.7em;

			&_prod {
				margin-top: 30px;
				margin-bottom: 20px;
			}
		}

		&__card {
			margin-bottom: 20px;

			&_price {
				margin-bottom: 20px;
			}
		}

		&__option {
			padding: 12px;
		}

		&__char {
			font-size: 1em;
		}

		&__value {
			font-size: 1em;
			margin-left: 80px;
		}

		&__text {
			font-size: 1.2em;
		}

		&__link {
			font-size: 0.7em;
		}

		&__nav {
			margin-bottom: 20px;

			ul {
				li {
					&:first-child {
						margin-left: 22px;
					}
				}

				li+li::before {
					content: '/';
					padding: 0 4px;
					color: $black-color;
				}
			}
		}

		&__img {
			max-width: 200px;
		}

		&__price {
			margin-top: 107px;
			font-size: 1.2em;
		}

		&__item {
			&_main {
				padding: 0;

				&:not(:last-child) {
					margin-right: 4px;
				}

				a {
					font-size: 0.55em;
				}
			}
		}

		&__list {
			&_mobile {
				display: flex;
			}
		}
	}

	.build_catalog {
		padding-top: 30px;
	}

	// .build__tab:last-child {
	// 	border-radius: 5px;
	// }

	////// Contacts
	.contacts {
		padding-top: 40px;

		&__title {
			margin-bottom: 20px;
		}

		&__card {
			iframe {
				height: 160px;
			}
		}

		&__item {
			padding-bottom: 40px;
		}
	}
}